<section class="vh-100 bg-image"
  style="background-image: url('https://wallpaperaccess.com/full/5508680.jpg');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Update trip</h2>

              <section>

                

                <div class="form-outline mb-4"> 
                  <label class="form-label" for="form3Example3cg">Enter Trip ID  </label>
                  <input [(ngModel)]="trip.tripId" tripId="trip.tripId" type="TripID" id="form3Example3cg" class="form-control form-control-lg" />
                
                </div>

                <div class="form-outline mb-4"> 
                  <label class="form-label" for="form3Example3cg">From Station </label>
                  <input [(ngModel)]="trip.fromStation" type="From station" id="form3Example3cg" class="form-control form-control-lg" />
                
                </div>

                
                <div class="form-outline mb-4"> 
                  <label class="form-label" for="form3Example3cg">To Station </label>
                  <input [(ngModel)]="trip.toStation" type="To Station" id="form3Example3cg" class="form-control form-control-lg" />
                
                </div>
                

                <div class="d-flex justify-content-center">
                  <button type="button" (click)="updateTrip()"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" routerLink="/updateTrip" routerLinkActive="active">Update</button>
                </div>

            
              </section>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>