<section class="vh-100 bg-image"
  style="background-image: url('https://wallpaperaccess.com/full/5508680.jpg');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Home page</h2>

              <form>

                


                <div class =" text-center">
                  <button type="button"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" routerLink="/createTrip" routerLinkActive="active">Create trip</button>
            
                    <button type="button"
                      class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" routerLink="/updateTrip" routerLinkActive="active">Update trip</button>
                  
                 <button type="button"
                 class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" routerLink="/deleteTrip" routerLinkActive="active">Delete trip</button>
  
                <button type="button"
                class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" routerLink="/showTrips" routerLinkActive="active">Show trips</button>
              </div>

              <br>
              <br>
              <br>

                   <div class ="text-center"  >
                    <button type="button"
                     class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" routerLink="/createStation" routerLinkActive="active">Create station</button>

                     <button type="button"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" routerLink="/updateStation" routerLinkActive="active">Update station</button>
    
                    <button type="button"
                      class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" routerLink="/deleteStation" routerLinkActive="active">Delete Station</button>

                    <button type="button"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" routerLink="/showStations" routerLinkActive="active">Show Stations</button>
 
                    <button type="button"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" routerLink="/signI" routerLinkActive="active">Sign Out</button>
                    </div>

               
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>